<h1>profile page</h1>
<!-- <button type="submit"><a href="/note/create">Create Note</a></button> -->
<p>Hello <%= user.username %></p>

<button type="submit"><a href="/note/create">Create New Note</a></button>
<button type="submit"><a href="/note">All Note</a></button>