<div class="homePageImg">
   <img src="/images/logo.png" alt="Big logo" style="width: 650px";>
<h2 class="Welcome">Welcome to WriteAway</h2>
<p class="Welcome">Signup and enjoy the best Note App</p>
</div>