<h1>All Notes</h1>
<button><a href="/note/create">create note </a></button>
<%# if (user.username)
    { %> <% allNotes.forEach(note => { %>
        <h1><%=note.title%></h1>
        <button><a href="/note/<%=note._id %>">Details </a></button>
    <% }) %> 
    <%# } else { %>
    <!-- <h1>You have to login first!</h1> -->

<%# } %>
