<h1>Note Details</h1>
<h1>Title: <%=singleNote.title%></h1>
<p>Content: <%=singleNote.content%></p>
<p>Update-date: <%=singleNote.updatedAt%></p>
<button type="submit"><a href="/note/<%=singleNote._id %>/edit">Edit</a></button>
<button type="submit"><a href="/note">Profile</a></button>

